<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Study Pal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="landingstyle.css">
        <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    </head>
    <body>
        <header>
            <h2>StudyPal</h2>
        </header>
        <div class="intro">
            <h2>Find the perfect study patner</h2>
            <p>Connect with fellow students based on study preferences and goals</p>
        </div>
        <div class="students">
            <img src="image/bg.png" alt="students studying together"/>
        </div>

        <form action="/" method="POST">
            <button type="submit" class="cta-button">Get Started</button>
        </form>
    </body>
</html>